body {
	background: url(http://www.apalapa-service.de/designs/design2001/color1/wallpaper/wallpaper.jpg);
	background-size: 100% auto;
	padding-top: 90px;
	padding-bottom: 40px;
	color: white;
}

.kursiv {
	font-style: italic;
}

.youtube-player {
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar .nav {
	float:none;
	display:inline-block;
}

.navbar-inner {
	text-align:center;
}
.well {
<!--opacity: 0.5;-->
<!--background-color: #1D731A;-->
	background-color: rgba(0,0,0,0.9);
}
.well2 {
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0) transparent;
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.9);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";

	padding: 10px 40px;
}
